html {
    background: transparent;
}


html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: #684da3;
}


@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to left, #243B55 20%, #141E30 80%);
}

.bgTop {
    z-index: 15;
    opacity: 0.5;
}

.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}

.bgBottom {
    z-index: 5;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveTop {
    background-size: 50% 100px;
}

.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.waveMiddle {
    background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}

.waveBottom {
    background-size: 50% 100px;
}

.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}


#messages {

    position: relative;
    left: 40px;
    right: -30px;

}

#nick {
    border-radius: 20px;
    position: absolute;
    font-size: 20pt;
    width: 200px;
    height: 50px;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%)

}


#button {
    position: absolute;
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #f0e9e9;
    background: transparent;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
    left: 45%;
    top: 53%;
}

#button:hover {
    background: #fcf7f7;
    box-shadow: 0 15px 20px rgba(148, 176, 174);
    color: black;
    transform: translateY(-7px);
}


textarea {
    position: absolute;
    border-radius: 10px;
    border: none;
    font-size: 15pt;
    width: 180px;
    height: 70px;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%)
}


#root {
    z-index: 17;
}



